{%- for module in ref_periph.values() -%}
{%- if peripheral_types[module] == 'Sensor' %}
{%- if module == 'TCRT5000' or module == 'HW006' %}
from demol.templates.raspi_new.sensor_classes.TrackerClass import {{ module }}
{%- elif module == 'SRF05' or module == 'HCSR04' -%}
from demol.templates.raspi_new.sensor_classes.DistanceClass import {{ module }}
{%- else %}
from demol.templates.raspi_new.sensor_classes import {{ module }}
{%- endif %}
{%- elif  peripheral_types[module] == 'Actuator' %}
from demol.templates.raspi_new.actuator_classes import {{ module }}
{% endif %}
{% endfor %}

# Example usage:
def main():

# Αργότερα αν προχωρήσω ίσως δημιουργώ threads στη λούπα
    {% for ref, module in ref_periph.items() -%}
    {%- if peripheral_types[module] == 'Sensor' %}
    {%- if module == 'TCRT5000' or module == 'HW006' %}
    {{ref}} = {{module}}("{{pins[loop.index0]["gpio"]}}")
    {%- elif module == 'SRF05' or module == 'HCSR04' -%}
    {{ref}} = {{module}}(trigger = "{{pins[loop.index0]["trigger"]}}", echo = "{{pins[loop.index0]["echo"]}}")
    {%- elif module == 'VL53L1X' -%}
    {{ref}} = {{module}}(slave_address = {{pins[loop.index0]["slaveAddr"]}})
    {%- elif module == 'TFMini' -%}
    {%- for attr in attribute[loop.index0] %}
    {%- for key in attr.keys() %}
    {%- if key == "serial_port" -%}
    {{ref}} = {{module}}("{{attr[key]}}")
    {%- else %}
    {{ref}} = {{module}}()
    {%- endif %}
    {%- endfor %}
    {%- endfor %}
    {%- else -%}
    {{ref}} = {{module}}()
    {%- endif %}
    {%- elif  peripheral_types[module] == 'Actuator' %}
    pass
    {% endif %}
    data_{{ref}} = {{ref}}.read_sensor()
    {% endfor %}

if __name__ == "__main__":
    main()